* {
    padding: 0px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: chocolate;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

.main-container {
    height: 70vh;
    width: 60vh;
    background-color: rgb(208, 224, 230);
    border: solid 5px navy;
    border-radius: 2%;
    margin-top: 5vh;
}

.mini-display {
    background-color: beige;
    height: 3vh;
    border: 1px solid lightgray;
    color: grey;
    font-size: large;
    display: flex;
    justify-content: end;
    align-items: center;

}

.main-display {
    background-color: beige;
    height: 7vh;
    border: 1px solid grey;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 3.7rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.button-container {
    display: flex;
}

.left-side {
    display: flex;
    height: 50vh;
    width: 40vh;
    margin-top: 8vh;
    justify-content: center;
    flex-flow: wrap;
}

.operators {
    display: flex;
    height: 50vh;
    width: 20vh;
    margin-top: 8vh;
    flex-flow: wrap;
    justify-content: center;
}

.clear-button {
    height: 7vh;
    width: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    outline: 2px solid darkgray;
    border-radius: 1%;
    font-size: 2.5rem;
}

.one-to-nine {
    height: 38vh;
    width: 38vh;
    display: flex;
    flex-flow: wrap;
    gap: 1vh;
    align-items: center;
}

.one-to-nine div {
    height: 5.5vh;
    width: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
    outline: 2px solid darkgray;
    border-radius: 1%;
    font-size: 2.5rem;
}

.operators div {
    height: 6vh;
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    outline: 3px solid navy;
    color: white;
    border-radius: 2%;
    font-size: larger;
}

#minus,#addition,#equal,#division {
    font-size: 2.5rem;
}

#multiplication {
    font-size: 2rem;
}

#equal {
    background-color: green;
    outline: 3px solid darkgreen;
}

.many-numbers {
    font-size: 2.7rem;
}

.hal9000 {
    font-size: 2.3rem;
}
